@import url('../../styles/index.css');

.typography {
    --font-family: 'Inter', sans-serif;
    --font-style: normal;
    --font-weight: 400;
    --font-size: 19px;
    --line-height: 130%;
    --color: var(--font-color-regular);

    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--color);
}

.typography span {
    --color: var(--font-color-highlight);
}

.h1 {
    --font-weight: 500;
    --font-size: 40px;
    --line-height: 48px;

    --color: var(--font-color-heading);
}

.h2 {
    --font-weight: 500;
    --font-size: 33px;
    --line-height: 40px;

    --color: var(--font-color-heading);
}

.h3 {
    --font-weight: 500;
    --font-size: 28px;
    --line-height: 34px;

    --color: var(--font-color-heading);
}

.h4 {
    --font-weight: 500;
    --font-size: 23px;
    --line-height: 28px;

    --color: var(--font-color-heading);
}

.h5 {
    --font-weight: 500;
    --font-size: 19px;
    --line-height: 23px;

    --color: var(--font-color-heading);
}

.h6 {
    --font-weight: 500;
    --font-size: 16px;
    --line-height: 19px;

    --color: var(--font-color-heading);
    text-transform: uppercase;
}

.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}
